.container {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

p {
  margin-left: 50px;
}

.bike-image {
  width: 200px;
}

.bike-image img {
  object-fit: contain;
  width: 100%;
  margin-top: 5px;
}

h2 {
  text-align: center;
  color: rgb(67, 74, 80);
}

